.bill-info-title{
  font-family: PingFangTC-Medium;
  font-size: 16px;
  color: #333333;
  line-height: 18px;
}
.operations-delete-btn-only{
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center
}