.time-range-icon{
  width:128px;
  height:32px;
  background:rgba(240,242,245,1);
  border-radius:2px;
  margin-left: 26px;
  text-align: center;
  line-height: 32px;
  vertical-align: center;
  margin-top: 24px;
}